<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
</head>
<body>
<h1> Новосибирский государственный технический университет </h1>
<h2> Факультет: </h2>
<h2> Название дисциплины: </h2>
<h2> Название лабораторной работы: </h2>
<h2> Фамилия студента: {{dict.name}} </h2>
<h2> Имя студента: {{dict.last_name}} </h2>
<h2> Возраст: {{dict.age}} </h2>
<h2>Название группы: {{grouplist.0}}</h2>
<h2> Курс обучения: {{ set.0 }} </h2>
<h2>Язык программирования: {{langs.0}} </h2>
<h2>Фреймворк: {{work.0}} </h2>
<h2>Объект класса a: {{obj.a}} </h2>
<h2>Объект класса b: {{obj.b}} </h2>
<h2>Год: {{year.2}} </h2>
</body>
</html>