<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Главная</title>
</head>
<body>
<h1> Главная страница приложения chumakov </h1>
<h2> Дисциплина Моделирование процессов </h2>
<h2> Кафедра систем сбора и обработки информации </h2>
<h3> Тема Лабораторная 1. Знакомство с Django. Математические и графические модели. </h3>
<h3> Новосибирск, 2026 г. </h3>
<h3> Разработчик приложения: Чумаков Илья </h3>
	<ul>
		<li><a href="/about/">О студенте</a></li>
		<li><a href="/data/">Данные климата</a></li>
		<li><a href="/graph1/">График 1</a></li>
		<li><a href="/graph2/">График 2</a></li>
		<li><a href="/graph3/">График 3</a></li>
		<li><a href="/graph4/">График 4</a></li>
		<li><a href="/graph5/">График 5</a></li>
		<li><a href="/graph6/">График 6</a></li>
	</ul>
</body>
</html>